body {
  background: #123456;
  margin: 0px;

}

#topBar {
position: fixed;
left: 0;
right: 0;
top: 0;
padding-left: 2%;
z-index: 100;
}

#topBarCompensator {
  background:#ABCDEF;
  left:0;
  right:0;
  top: 0;
}

.post {
  border-radius: 25px;
  background: #FFFF88;
  margin: 2%;
  padding: 2%;
  width: 42%;
  display: inline-block;
}

#board {
  width: 100%;
  background: #ABCDEF;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#newpostbody {
  width: 90%;
}

.postbody {
  white-space: pre-line;
}

.clockicon {
  position: relative;
  float: right;
  bottom: 0px;
  height: 5%;
  width: 5%;
}