#topBar {
position: fixed;
left: 0;
right: 0;
top: 0;
}

.post {
  border-radius: 25px;
  background: #FFFF88;
  margin: 2%;
  padding: 2%;
  width: 42%;
}

board {
  width: 100%;
  background: #ABCDEF;
}

#newpostbody {
  width: 90%;
}

.clockicon {
  right: 0px;
  bottom: 0px;
  height: 5%;
  width: 5%;
}